*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"] {
    background-color: #006cfa;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-size: 14px;

}

.txt{
    display: flex;
    justify-content: center;
    align-items: center;
}

[class*="row"] {
    height: 40px;
}

p{
    font-weight: bold;
}

.col-6 .row{
    border: 8px solid #006cfa;
}

.col-6 .col-2, 
.col-6 .col-8{
    background-color: #00e165;
    border: 1px solid #006cfa;
}


.col-6 .row{
    border: 8px solid #006cfa;
}

.col-6 .col-6{
    background-color: #00e165;
    border: 1px solid #006cfa;
}
